.colorName {
  background: hsla(0, 0%, 100%, 0.2);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}
.input__colorCode,
.input__colorName {
  width: 75%;
  height: 10%;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

.delete-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 220px;
  left: 141px;
  z-index: 10;
  fill: black;
}

.delete-icon:hover {
  fill: red;
}

.copy__div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.copy__icon {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  z-index: 10;
  fill: black;
}

.copy__text {
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 1rem;
}

.copy__icon:hover {
  fill: white;
}

.copy__text:hover {
  color: white;
  text-decoration: underline;
}
